* {
	box-sizing: border-box;
}
table {
	margin: 0 auto;
	margin-top: 20px;
	border: 1px solid black;
	width: 30rem;
	height: 30rem;
	transform: scale(0.6);
	margin-top: -5rem;
}

.board td {
	padding: 1px;
	font-size: 20px;
	width: 30px;
	height: 30px;
	text-align: center;
	transition: 0.5s;
	border: 1px solid black;
}

.board td:hover {
	background-color: pink;
}

.occupied {
	background-color: #ffccd5;
}

#display {
	width: 100%;
	font-size: 30px;
}

.container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	background-color: #94d2bd;
	padding-top: 10px;
	padding-bottom: 10px;
}

.buttons {
	margin-top: 5px;
}

body {
	background-color: #fff0f3;
}

h1 {
	margin: 0;
}
